::selection {
  background: #ffb7b7;
  color: #fff;
}
::-moz-selection {
  background: #ffb7b7;
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,
html {
  height: 100%;
}
body {
  font-family: futura-pt-condensed, "Futura Cond", Helvetic, tahoma, arial,
    "Hiragino Sans GB", Microsoft Yahei, "Helvetica Neue", Helvetica, "Segoe UI",
    \5b8b\4f53, sans-serif;
  line-height: 1.1;
  font-weight: 300;
  background-color: #fbfbfb;
  color: #333;
}
img {
  max-width: 100%;
}
a {
  color: #c63;
  text-decoration: none;
  -webkit-transition: color 0.35s;
  -moz-transition: color 0.35s;
  -ms-transition: color 0.35s;
  -o-transition: color 0.35s;
  transition: color 0.35s;
}
a:hover {
  color: #2eb695 !important;
  text-decoration: blink;
}
a:visited {
  color: #666;
}
.listing-seperator a:visited {
  color: #c63;
}
time {
  font-family: Georgia, Ubuntu, monospace;
}
hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0;
}
.fa {
  color: #b22;
}
.wrap {
  width: 800px;
  margin: 0 auto;
}
#body {
  min-height: 100%;
}
.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background-color: #fbfbfb;
  box-shadow: 0 1px 2px #d7f0ea;
  width: 100%;
}
.site-title,
.site-title:hover,
.site-title:visited {
  color: #333;
  font-size: 26px;
  letter-spacing: 1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}
.site-title h1 {
  font-size: 36px;
}
.site-nav {
  float: right;
  line-height: 56px;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  margin-left: 6px;
  color: #727272;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  font-family: futura-pt-condensed, "Futura Cond", Helvetica, sans-serif;
}
.site-nav .page-link i {
  display: none;
}
.site-nav .page-link span {
  padding-left: 4px;
}
.post-header h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
  font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
}
.post-header .meta a:visited {
  color: #c63;
}
.post-list li {
  padding-left: 1em;
  list-style: none;
  line-height: 1.65;
  font-size: 1.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-list li time {
  color: #999;
}
.post-list .listing-seperator {
  margin: 10px 0;
  border-bottom: 1px dashed #eee;
}
.category-group {
  line-height: 1.65;
  font-size: 1.25em;
  margin: 10px 0;
  border-bottom: 1px dashed #eee;
  padding-left: 1em;
  font-weight: 400 !important;
}
.category-group span {
  color: #999;
}
#tag_cloud {
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
}
#tag_cloud a {
  padding: 4px 8px;
  border: 1px solid #eee;
}
#tag_cloud sup {
  color: #666;
}
.page-content {
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 70px;
}
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 1.4;
}
.page-content h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
.page-content h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
.page-content h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
.page-content h4 {
  font-size: 1.25em;
}
.page-content h5 {
  font-size: 1em;
}
.page-content h6 {
  font-size: 1em;
  color: #777;
}
.page-content blockquote,
.page-content dl,
.page-content ol,
.page-content p,
.page-content pre,
.page-content table,
.page-content ul {
  margin-top: 0;
  margin-bottom: 16px;
}
.page-content blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.page-content blockquote > :first-child {
  margin-top: 0;
}
.page-content blockquote > :last-child {
  margin-bottom: 0;
}
.page-content ol,
.page-content ul {
  padding-left: 2em;
}
.post-footer {
  overflow: hidden;
  border-bottom: 3px dashed #eee;
  border-top: 3px dashed #eee;
  padding: 5px 0;
  font-size: 12px;
  text-align: right;
  line-height: 1.6em;
  margin-bottom: 10px;
}
.header-link {
  position: absolute;
  left: -1em;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}
.site-footer {
  background-color: #fbfbfb;
  border-top: 1px solid #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: both;
  font-size: 14px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer-heading {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}
.fonter-content {
  text-align: center;
  line-height: 2em;
}
.site-footer ul {
  list-style: none;
}
.site-footer li,
.site-footer p {
  letter-spacing: -0.3px;
  color: #b4b4b4;
}
.site-footer .scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 50px;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  z-index: 199;
}
@media screen and (max-width: 830px) {
  #body {
    padding: 0;
  }
  .wrap {
    padding: 0 10px;
    width: auto;
  }
  .post .post-header h1 {
    font-size: 1.25em;
  }
  .post .post-header .meta {
    font-size: 12px;
  }
  .page-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .home .page-content ol,
  .home .post-list li,
  .page-content ul {
    padding-left: 0;
  }
  .site-footer,
  .site-header {
    position: static;
  }
  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px;
    right: 8px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }
  .site-nav .menu-icon {
    display: block;
    font-size: 1.5em;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }
  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }
  .site-nav:hover .trigger {
    display: block;
  }
  .site-nav .page-link {
    font-size: 1.5em;
    display: block;
    text-align: center;
    line-height: 1.25;
    padding: 3px 5px;
    margin: 0;
  }
  .site-nav .page-link i {
    display: inline-block;
  }
  .site-nav .page-link span {
    display: none;
  }
}
:not(pre) > code {
  padding: 0.2em 0.5em;
  color: #000;
  font: 0.85em Consolas, Monaco, "Andale Mono", monospace;
  background: #fee9cd;
  border-radius: 0.25em;
  overflow: auto;
}
.post-content code,
.post-content pre {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}
.post-content code {
  font-size: 13px !important;
} /*!-------------------------------------
 * Syntax Colours
 * https://gist.github.com/edwardhotchkiss/2005058
 *
 * Theme based on prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * @author Tim  Shedor
 * ------------------------------------- */ /*! Modified by Peiwen Lu @ 30 Nov 2013 */
.highlight,
.highlighter-rouge {
  margin: 1.715em 0;
}
.highlight pre,
.highlighter-rouge pre {
  padding: 0.8em 1em;
  font: 14px/22px Consolas, Monaco, "Andale Mono", monospace;
  border: 1px solid #e5e8ec;
  border-radius: 3px;
  background-color: #21221d;
  background-image: -webkit-linear-gradient(#21221d 50%, #272822 50%);
  background-image: -moz-linear-gradient(#21221d 50%, #272822 50%);
  background-image: -ms-linear-gradient(#21221d 50%, #272822 50%);
  background-image: -o-linear-gradient(#21221d 50%, #272822 50%);
  background-image: linear-gradient(#21221d 50%, #272822 50%);
  background-size: 44px 44px;
  background-origin: content-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.highlight pre::-webkit-scrollbar,
.highlighter-rouge pre::-webkit-scrollbar {
  height: 7px;
}
.highlight pre::-webkit-scrollbar-thumb,
.highlighter-rouge pre::-webkit-scrollbar-thumb {
  background: #e5e8ec;
  border-radius: 99px;
}
.highlight pre::-webkit-scrollbar-thumb:hover,
.highlighter-rouge pre::-webkit-scrollbar-thumb:hover {
  background: #d6dbe1;
}
.highlight pre > code,
.highlighter-rouge pre > code {
  font-family: inherit;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  vertical-align: 2px;
  display: block;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: #e5e5c2;
}
.highlight .lineno {
  -apple-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #666;
}
.highlight .hll {
  background-color: #49483e;
}
.highlight .c {
  color: #75715e;
}
.highlight .err {
  color: #960050;
  background-color: #1e0010;
}
.highlight .k {
  color: #66d9ef;
}
.highlight .l {
  color: #ae81ff;
}
.highlight .n {
  color: #f8f8f2;
}
.highlight .o {
  color: #f92672;
}
.highlight .p {
  color: #f8f8f2;
}
.highlight .c1,
.highlight .cm,
.highlight .cp,
.highlight .cs {
  color: #75715e;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: 700;
}
.highlight .kc,
.highlight .kd {
  color: #66d9ef;
}
.highlight .kn {
  color: #f92672;
  font-weight: 700;
}
.highlight .kp,
.highlight .kr,
.highlight .kt {
  color: #66d9ef;
}
.highlight .ld {
  color: #e6db74;
}
.highlight .m {
  color: #ae81ff;
}
.highlight .s {
  color: #e6db74;
}
.highlight .na {
  color: #a6e22e;
}
.highlight .nb {
  color: #f8f8f2;
}
.highlight .nc {
  color: #a6e22e;
}
.highlight .no {
  color: #66d9ef;
}
.highlight .nd {
  color: #a6e22e;
}
.highlight .ni {
  color: #f8f8f2;
}
.highlight .ne,
.highlight .nf {
  color: #a6e22e;
}
.highlight .nl,
.highlight .nn {
  color: #f8f8f2;
}
.highlight .nx {
  color: #a6e22e;
}
.highlight .py {
  color: #f8f8f2;
}
.highlight .nt {
  color: #f92672;
}
.highlight .nv {
  color: #f8f8f2;
}
.highlight .ow {
  color: #f92672;
}
.highlight .w {
  color: #f8f8f2;
}
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #ae81ff;
}
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd {
  color: #e6db74;
}
.highlight .se {
  color: #ae81ff;
}
.highlight .s1,
.highlight .sh,
.highlight .si,
.highlight .sr,
.highlight .ss,
.highlight .sx {
  color: #e6db74;
}
.highlight .bp,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #f8f8f2;
}
.highlight .il {
  color: #ae81ff;
}
.highlight .gu {
  color: #75715e;
}
.highlight .gd {
  color: #f92672;
}
.highlight .gi {
  color: #a6e22e;
}
.highlight .l-Scalar-Plain {
  color: #ffd000;
}
.highlight .p-Indicator {
  color: #78c000;
}
